In [160]:
import pandas as pd
import numpy as np

In [161]:
INP = pd.read_csv("VTINP16_upd.csv",usecols=['PPAY','MDC','CHRGS','intage','sex'])

In [162]:
INP.head()

   intage sex  PPAY      CHRGS MDC
0      14   2     1   67375.25  23
1      14   1     1      22886  23
2      14   2     1  120544.05   8
3      14   2     1    32325.8   8
4      12   2     7    29244.1   4

In [170]:
INP["MDC"].unique()

array([23,  8,  4,  9, 21,  5,  6,  7, 11, 17, 24, 12, 16, 14,  1,  3, 10,
       13, 18, 19, 15, 25, 20,  2, 22])

##### solve missing value and convert data type

In [163]:
INP['sex'].replace(' ', np.nan, inplace=True)
INP["MDC"].replace(' ', np.nan, inplace=True)
INP["CHRGS"].replace(' ', np.nan, inplace=True)

In [164]:
INP.dropna(subset=['intage','sex','CHRGS','MDC'],inplace = True)

In [165]:
INP["CHRGS"]=pd.to_numeric(INP["CHRGS"])

In [166]:
INP["sex"] = INP["sex"].astype(int)

In [167]:
INP["MDC"] = INP["MDC"].astype(int)

#####  filter

In [171]:
PP = [1,2,6,7]
INP = INP.loc[INP["PPAY"].isin(PP)]

In [172]:
conditions_1 = [
    INP["PPAY"]== 1,
    INP["PPAY"]==2,
    ((INP["PPAY"]==6)|(INP["PPAY"]==7))
]
values_1 = ["Medicare","Medicaid","Commercial"]
INP["Payer"] = np.select(conditions_1,values_1)

In [173]:
INP.head()

   intage  sex  PPAY      CHRGS  MDC       Payer
0      14    2     1   67375.25   23    Medicare
1      14    1     1   22886.00   23    Medicare
2      14    2     1  120544.05    8    Medicare
3      14    2     1   32325.80    8    Medicare
4      12    2     7   29244.10    4  Commercial

In [174]:
df = INP.groupby(["Payer","MDC"])["CHRGS"].sum().reset_index(name ='total_charge')

In [176]:
df["total_charge(M)"]= (df["total_charge"]/1000000).round()

In [178]:
df["total_charge(M)"]=df["total_charge(M)"].astype(int)

In [179]:
df.head()

        Payer  MDC  total_charge  total_charge(M)
0  Commercial    1   38222689.07               38
1  Commercial    2     366541.34                0
2  Commercial    3    2867282.50                3
3  Commercial    4   24257093.97               24
4  Commercial    5   53923864.90               54

In [122]:
df.to_excel("final_result.xlsx")

#### pie part

In [203]:
INP_Medicare = INP.loc[INP["Payer"]=="Medicare"]
INP_Medicaid = INP.loc[INP["Payer"]=="Medicaid"]
INP_Commerical = INP.loc[INP["Payer"]=="Commercial"]

In [182]:
INP_Medicare = INP_Medicare.groupby(["MDC"])["CHRGS"].sum().reset_index(name ='total_charge')

In [196]:
INP_Medicare

       intage  sex  PPAY      CHRGS  MDC     Payer
0          14    2     1   67375.25   23  Medicare
1          14    1     1   22886.00   23  Medicare
2          14    2     1  120544.05    8  Medicare
3          14    2     1   32325.80    8  Medicare
5          12    1     1  124611.40   23  Medicare
6          13    2     1   71292.00    8  Medicare
7          13    2     1   22413.40   23  Medicare
8          14    2     1  106723.00   23  Medicare
9          14    1     1   77200.65    8  Medicare
10         14    2     1   12460.00    8  Medicare
12         14    1     1   53412.10    8  Medicare
13         14    2     1    5688.35    9  Medicare
15         11    1     1   53695.10    8  Medicare
16         12    1     1    8978.00   23  Medicare
19         14    2     1   14417.65    5  Medicare
20         14    1     1   13557.45    5  Medicare
21         14    2     1   12657.30    6  Medicare
22         14    1     1   26250.80   23  Medicare
23         10    1     1   38714.15    8  Medicare
24         12    1     1   11886.80    4  Medicare
25          9    2     1   24206.30    8  Medicare
26          9    1     1    9736.35    8  Medicare
27         14    2     1   24457.80   23  Medicare
28         14    2     1   20109.90    8  Medicare
29         14    2     1    4318.00   23  Medicare
30         14    2     1    7612.80   23  Medicare
31         14    1     1    7368.10    4  Medicare
33         10    1     1   14101.45    7  Medicare
34         12    2     1    3307.00    4  Medicare
35         14    2     1   38010.90    6  Medicare
...       ...  ...   ...        ...  ...       ...
53570      13    2     1   13260.37    5  Medicare
53576      14    1     1    7637.29   10  Medicare
53580      12    2     1   43638.70    1  Medicare
53581      12    1     1   15067.80   11  Medicare
53582      14    1     1    8448.43    8  Medicare
53585      13    2     1    9498.75    8  Medicare
53588      14    2     1   13329.42    8  Medicare
53594      12    1     1   14691.07    5  Medicare
53598       9    1     1   41899.96    5  Medicare
53599      11    2     1   13363.06   11  Medicare
53606      12    2     1    5506.92    5  Medicare
53607      13    2     1   31757.12    5  Medicare
53609      14    2     1    8835.11    4  Medicare
53611      14    1     1   55841.02    5  Medicare
53612      12    2     1   23954.30    8  Medicare
53613      14    1     1   38483.98    5  Medicare
53621      12    2     1   41520.68    8  Medicare
53626      11    2     1    9742.02    8  Medicare
53628      13    2     1   16875.48    1  Medicare
53632      14    2     1   15895.09    5  Medicare
53633      13    1     1   18099.34   18  Medicare
53635       9    2     1    8688.12    2  Medicare
53637      14    2     1   11157.48    1  Medicare
53638      14    1     1   10358.22   18  Medicare
53645      14    1     1   17863.19    1  Medicare
53654      13    1     1   30334.61    4  Medicare
53655      13    1     1   17906.33    4  Medicare
53662      12    1     1   10714.04    5  Medicare
53665      14    1     1   13312.85    4  Medicare
53666      13    1     1   17480.35    1  Medicare

[24019 rows x 6 columns]

In [150]:
INP_Medicare["total_charge"].sum()

692898406.79

In [184]:
INP_Medicare["share"]= INP_Medicare["total_charge"].div(INP_Medicare["total_charge"].sum())

In [188]:
INP_Medicare.sort_values('share',ascending=False)

    MDC  total_charge     share
7     8  1.457052e+08  0.210284
4     5  1.355465e+08  0.195622
3     4  7.813365e+07  0.112763
5     6  6.303963e+07  0.090980
17   18  6.102456e+07  0.088071
0     1  5.704322e+07  0.082326
10   11  2.762975e+07  0.039876
18   19  2.466532e+07  0.035597
6     7  1.781318e+07  0.025708
22   23  1.522112e+07  0.021967
9    10  1.307827e+07  0.018875
8     9  1.112681e+07  0.016058
20   21  9.189688e+06  0.013263
16   17  8.378852e+06  0.012092
15   16  7.388447e+06  0.010663
23   24  4.325236e+06  0.006242
2     3  3.594949e+06  0.005188
19   20  2.666693e+06  0.003849
11   12  2.525562e+06  0.003645
12   13  1.782866e+06  0.002573
21   22  1.261349e+06  0.001820
13   14  8.502994e+05  0.001227
1     2  4.652811e+05  0.000671
24   25  4.297668e+05  0.000620
14   15  1.221248e+04  0.000018

In [198]:
INP_Medicare_f = INP_Medicare.groupby(["sex","intage"])["intage"].count().reset_index(name ='intage_num')

In [202]:
INP_Medicare_f.to_excel("Medicare_f.xlsx")

In [201]:
INP_Medicare.to_excel("medicare.xlsx")

#### Medicaid

In [190]:
INP_Medicaid = INP_Medicaid.groupby(["MDC"])["CHRGS"].sum().reset_index(name ='total_charge')

In [191]:
INP_Medicaid["share"]= INP_Medicaid["total_charge"].div(INP_Medicaid["total_charge"].sum())

In [192]:
INP_Medicaid.to_excel("medicaid.xlsx")

In [204]:
INP_Medicaid_f = INP_Medicaid.groupby(["sex","intage"])["intage"].count().reset_index(name ='intage_num')

In [205]:
INP_Medicaid_f.to_excel("Medicaid_f.xlsx")

#### Commercial

In [193]:
INP_Commerical = INP_Commerical.groupby(["MDC"])["CHRGS"].sum().reset_index(name ='total_charge')
INP_Commerical["share"]= INP_Commerical["total_charge"].div(INP_Commerical["total_charge"].sum())
INP_Commerical.to_excel("commerical.xlsx")

In [206]:
INP_Commerical_f = INP_Commerical.groupby(["sex","intage"])["intage"].count().reset_index(name ='intage_num')

In [208]:
INP_Commerical_f.to_excel("Commercial_f.xlsx")